{% extends 'base.html' %}
{%load static%}
{% block content %}

  <div class="container my-5">
    <div class="row">
      <div class="col-md-8">
        <h1>About Me</h1>
        <p class="lead">Motivated individual who demonstrates work ethic and creativity. Seeking to be a part of a reputable organisation that provides a stable career path and to make a significant contribution to the organisation's success.</p>
              </div>
      <div class="col-md-4">
        <img src="{% static 'portfolio/profile1.jpg' %}" class="img-fluid ">
      </div>
    </div>
  </div>

{% endblock %}

<!-- Rohith Male
rm982
08-04-2023 -->